# This is the design constraint file for NADP05
#NET "JTAG_TMS" LOC P1;
#NET "JTAG_TDI" LOC P2;
NET "ibWr" LOC = P3;
NET "ibDK" LOC = P4;
NET "iA<1>" LOC = P5;
NET "ibRd" LOC = P6;
NET "iA<0>" LOC = P7;
NET "iA<2>" LOC = P8;
#NET "GND" LOC = P9;
NET "ibCS0" LOC = P10;
NET "ibCS1" LOC = P11;
NET "iIRQ" LOC = P12;
NET "ibDASP" LOC = P13;
#NET "VCCO_3" LOC = P14;
#NET "io" LOC = P15;
NET "iRdy" LOC = P16;
#NET "GND" LOC = P17;
NET "iDQ" LOC = P18;
NET "iD<1>" LOC = P19;
NET "iD<2>" LOC = P20;
NET "iD<3>" LOC = P21;
#NET "VCCINT" LOC = P22;
#NET "VCCO_3" LOC = P23;
NET "iD<8>" LOC = P24;
NET "iD<9>" LOC = P25;
#NET "GND" LOC = P26;
NET "iD<10>" LOC = P27;
NET "iD<11>" LOC = P28;
NET "iD<12>" LOC = P29;
NET "iD<13>" LOC = P30;
NET "iD<14>" LOC = P31;
NET "iD<15>" LOC = P32;
#NET "INP1" LOC = P33;
#NET "GND" LOC = P34
#NET "INP2" LOC = P35;
#NET "VCCAUX" LOC = P36;
NET "JT_Pin1" LOC = P37;	# (M1) must pull low for 50A, left high for 50AN
NET "JT_bTest" LOC = P38;	# (M0) must pull high
#NET "B" LOC = P39;	# (M2) must pull low
#NET "VCCO_2" LOC = P40;
#NET "FbCS" LOC = P41;  # Chip select for external SPI
NET "iD<0>" LOC = P42;
NET "OE245" LOC = P43;	# VS2 must pull up
NET "JT_Result" LOC = P44;	# VS1 must pull up
NET "DR245" LOC = P45;	# VS0 must pull up
NET "iD<4>" LOC = P46;
NET "iD<5>" LOC = P47;
NET "iD<6>" LOC = P48;
NET "iD<7>" LOC = P49;
NET "bcCS" LOC = P50;	#C72
NET "bCRT" LOC = P51;	#C70
#NET "VCCINT" LOC = P52;
#NET "INP3" LOC = P53;
NET "cDQ" LOC = P54; #C66
NET "cDK" LOC = P55; #C62
#NET "GND" LOC = P56;
#NET "nc" LOC = P57;		#nc
NET "bcRd" LOC = P58;		#C77
NET "HDD_ACK" LOC = P59;	#C92
NET "bcWr" LOC = P60;		#C73
#NET "VCCO_2" LOC = P61;
#NET "FMOSI" LOC = P62;		# SPI MCU out S In
NET "ACS_LED" LOC = P63;	#C90
NET "bcWait" LOC = P64;		#C59
#NET "GND" LOC = P65;
#NET "VCCAUX" LOC = P66;
#NET "INIT_B" LOC = P67;	#InitB low to init IC
NET "bcIRQ" LOC = P68;		#C55
NET "bCSRST" LOC = P69;		#C49
NET "bCRST" LOC = P70;		#C52
#NET "FDIN" LOC = P71;
#NET "FCCLK" LOC = P72;
#NET "DONE" LOC = P73;		#DONE high => config done
#NET "SUSPEND" LOC = P74;	#Low to suspend system
NET "cAP<0>" LOC = P75;		#C45
NET "cAP<1>" LOC = P76;		#C43
NET "cAP<2>" LOC = P77;		#C39
NET "cAP<3>" LOC = P78;		#C37
NET "cAP<4>" LOC = P79;		#C33
#NET "INP4" LOC = P80;
#NET "GND" LOC = P81;
NET "cAP<5>" LOC = P82;		#C31
NET "cAP<6>" LOC = P83;		#C27
NET "cAP<7>" LOC = P84;		#C25
NET "cAP<8>" LOC = P85;		#C21
#NET "VCCO_1" LOC = P86;
NET "cAP<9>" LOC = P87;		#C19
NET "cAP<10>" LOC = P88;	#C15
#NET "GND" LOC = P89;
NET "cAP<11>" LOC = P90;	#C13
NET "cAP<12>" LOC = P91;	#C09
NET "cAP<13>" LOC = P92;	#C07
NET "cAP<14>" LOC = P93;	#C03
#NET "VCCINT" LOC = P94;
#NET "VCCO_1" LOC = P95;
NET "cAP<15>" LOC = P96;	#C01
#NET "INP5" LOC = P97;
NET "cDP<4>" LOC = P98;		#C36
NET "cDP<5>" LOC = P99;		#C32
#NET "GND" LOC = P100
NET "cDP<6>" LOC = P101;	#C30
NET "cDP<7>" LOC = P102;	#C26
NET "cDP<8>" LOC = P103;	#C24
NET "cDP<9>" LOC = P104;	#C20
NET "cDP<10>" LOC = P105;	#C18
#NET "GND" LOC = P106;
#NET "JTAG_TDO" LOC = P107;
#NET "VCCAUX" LOC = P108;
#NET "JTAG_TCK" LOC = P109;
NET "cDP<11>" LOC = P110;	#C14
NET "cDP<12>" LOC = P111;	#C12
NET "cDP<13>" LOC = P112;	#C08
NET "cDP<14>" LOC = P113;	#C06
NET "cDP<15>" LOC = P114;	#C02
NET "cDP<0>" LOC = P115;	#C48
NET "cDP<1>" LOC = P116;	#C44
NET "cDP<2>" LOC = P117;	#C42
#NET "GND" LOC = P118;
#NET "VCCO_0" LOC = P119;
NET "cDP<3>" LOC = P120;	#C38
NET "ibRST" LOC = P121;
#NET "VCCINT" LOC = P122;
#NET "INP6" LOC = P123;
NET "TFD0" LOC = P124;
NET "TFD1" LOC = P125;
NET "TFD2" LOC = P126;
NET "TFD3" LOC = P127;
#NET "GND" LOC = P128;
NET "CLKin" LOC = P129;		#C81
NET "TFCLK" LOC = P130;
NET "TFSENSE" LOC = P131;
NET "TFCMD" LOC = P132;
#NET "VCCAUX" LOC = P133;
#NET "nc" LOC = P134;
#NET "nc" LOC = P135;
#NET "VCCO_0" LOC = P136;
#NET "GND" LOC = P137;
#NET "nc" LOC = P138;
#NET "nc" LOC = P139;
#NET "INP7" LOC = P140;
#NET "nc" LOC = P141;
#NET "nc" LOC = P142;
#NET "PUDC_B" LOC = P143;	#Low enable pull up during configuration
#NET "PROG_B" = P144;
#############  Pin Setting ###############################################
NET "HDD_ACK" PULLUP;
NET "ACS_LED" PULLUP;
NET "bCSRST" PULLUP;
NET "bCRST" PULLUP;
NET "bcWait" PULLUP;
NET "bcIRQ" PULLUP;
NET "bcCS" PULLUP;
NET "cDK" PULLDOWN;
NET "JT_Result" PULLUP;
NET "JT_Pin1" PULLUP;		# ROM selection pin
NET "JT_bTest" PULLUP;
NET "TFD0" PULLUP;
NET "TFD1" PULLUP;
NET "TFD2" PULLUP;
NET "TFD3" PULLUP;
NET "TFSENSE" PULLUP;

NET "cDP<0>" SLEW = FAST;
NET "cDP<1>" SLEW = FAST;
NET "cDP<2>" SLEW = FAST;
NET "cDP<3>" SLEW = FAST;
NET "cDP<4>" SLEW = FAST;
NET "cDP<5>" SLEW = FAST;
NET "cDP<6>" SLEW = FAST;
NET "cDP<7>" SLEW = FAST;
NET "cDP<8>" SLEW = FAST;
NET "cDP<9>" SLEW = FAST;
NET "cDP<10>" SLEW = FAST;
NET "cDP<11>" SLEW = FAST;
NET "cDP<12>" SLEW = FAST;
NET "cDP<13>" SLEW = FAST;
NET "cDP<14>" SLEW = FAST;
NET "cDP<15>" SLEW = FAST;

NET "bcWait" DRIVE = 16;
NET "ibRST" DRIVE = 16;
NET "iA<0>" DRIVE = 16;
NET "iA<1>" DRIVE = 16;
NET "iA<2>" DRIVE = 16;
NET "ibCS1" DRIVE = 16;
NET "ibCS0" DRIVE = 16;
NET "ibRd" DRIVE = 16;
NET "ibWr" DRIVE = 16;
NET "ibDK" DRIVE = 16;
NET "DR245" DRIVE = 8;
NET "OE245" DRIVE = 8;

NET "ACS_LED" IOSTANDARD = "LVTTL";
NET "bcCS" IOSTANDARD = "LVTTL";
NET "bcIRQ" IOSTANDARD = "LVTTL";
NET "bcRd" IOSTANDARD = "LVTTL";
NET "bCRST" IOSTANDARD = "LVTTL";
NET "bCRT" IOSTANDARD = "LVTTL";
NET "bCSRST" IOSTANDARD = "LVTTL";
NET "bcWr" IOSTANDARD = "LVTTL";
NET "cAP<0>" IOSTANDARD = "LVTTL";
NET "cAP<1>" IOSTANDARD = "LVTTL";
NET "cAP<2>" IOSTANDARD = "LVTTL";
NET "cAP<3>" IOSTANDARD = "LVTTL";
NET "cAP<4>" IOSTANDARD = "LVTTL";
NET "cAP<5>" IOSTANDARD = "LVTTL";
NET "cAP<6>" IOSTANDARD = "LVTTL";
NET "cAP<7>" IOSTANDARD = "LVTTL";
NET "cAP<8>" IOSTANDARD = "LVTTL";
NET "cAP<9>" IOSTANDARD = "LVTTL";
NET "cAP<10>" IOSTANDARD = "LVTTL";
NET "cAP<11>" IOSTANDARD = "LVTTL";
NET "cAP<12>" IOSTANDARD = "LVTTL";
NET "cAP<13>" IOSTANDARD = "LVTTL";
NET "cAP<14>" IOSTANDARD = "LVTTL";
NET "cAP<15>" IOSTANDARD = "LVTTL";
NET "cDK" IOSTANDARD = "LVTTL";
NET "cDP<1>" IOSTANDARD = "LVTTL";
NET "cDP<2>" IOSTANDARD = "LVTTL";
NET "cDP<3>" IOSTANDARD = "LVTTL";
NET "cDP<4>" IOSTANDARD = "LVTTL";
NET "cDP<5>" IOSTANDARD = "LVTTL";
NET "cDP<6>" IOSTANDARD = "LVTTL";
NET "cDP<7>" IOSTANDARD = "LVTTL";
NET "cDP<8>" IOSTANDARD = "LVTTL";
NET "cDP<9>" IOSTANDARD = "LVTTL";
NET "cDP<10>" IOSTANDARD = "LVTTL";
NET "cDP<11>" IOSTANDARD = "LVTTL";
NET "cDP<12>" IOSTANDARD = "LVTTL";
NET "cDP<13>" IOSTANDARD = "LVTTL";
NET "cDP<14>" IOSTANDARD = "LVTTL";
NET "cDP<15>" IOSTANDARD = "LVTTL";
NET "cDP<0>" IOSTANDARD = "LVTTL";
NET "cDQ" IOSTANDARD = "LVTTL";
NET "CLKin" IOSTANDARD = "LVTTL";
NET "HDD_ACK" IOSTANDARD = "LVTTL";
NET "ibCS0" IOSTANDARD = "LVTTL";
NET "ibCS1" IOSTANDARD = "LVTTL";
NET "ibDK" IOSTANDARD = "LVTTL";
NET "ibRd" IOSTANDARD = "LVTTL";
NET "ibRST" IOSTANDARD = "LVTTL";
NET "iD<0>" IOSTANDARD = "LVTTL";
NET "iD<1>" IOSTANDARD = "LVTTL";
NET "iD<2>" IOSTANDARD = "LVTTL";
NET "iD<3>" IOSTANDARD = "LVTTL";
NET "iD<4>" IOSTANDARD = "LVTTL";
NET "iD<5>" IOSTANDARD = "LVTTL";
NET "iD<6>" IOSTANDARD = "LVTTL";
NET "iD<7>" IOSTANDARD = "LVTTL";
NET "iD<8>" IOSTANDARD = "LVTTL";
NET "iD<9>" IOSTANDARD = "LVTTL";
NET "iD<10>" IOSTANDARD = "LVTTL";
NET "iD<11>" IOSTANDARD = "LVTTL";
NET "iD<12>" IOSTANDARD = "LVTTL";
NET "iD<13>" IOSTANDARD = "LVTTL";
NET "iD<14>" IOSTANDARD = "LVTTL";
NET "iD<15>" IOSTANDARD = "LVTTL";
NET "ibWr" IOSTANDARD = "LVTTL";
NET "OE245" IOSTANDARD = "LVTTL";
NET "DR245" IOSTANDARD = "LVTTL";
NET "iDQ" IOSTANDARD = "LVCMOS33";
NET "iIRQ" IOSTANDARD = "LVCMOS33";
NET "iRdy" IOSTANDARD = "LVCMOS33";
NET "ibDASP" IOSTANDARD = "LVCMOS33";
NET "JT_Result" IOSTANDARD = "LVTTL";
NET "JT_Pin1" IOSTANDARD = "LVTTL";
NET "JT_bTest" IOSTANDARD = "LVTTL";
NET "bcWait" IOSTANDARD = "LVTTL";


NET "TFD0"	IOSTANDARD = "LVTTL";
NET "TFD1"	IOSTANDARD = "LVTTL";
NET "TFD2"	IOSTANDARD = "LVTTL";
NET "TFD3"	IOSTANDARD = "LVTTL";
NET "TFSENSE"	IOSTANDARD = "LVTTL";
NET "TFCLK"	IOSTANDARD = "LVTTL";
NET "TFCMD"	IOSTANDARD = "LVTTL";


NET "ibWr" SLEW = FAST;
NET "bcIRQ" DRIVE = 16;
NET "cAP<0>" DRIVE = 16;
NET "cAP<1>" DRIVE = 16;
NET "cAP<2>" DRIVE = 16;
NET "cAP<3>" DRIVE = 16;
NET "cAP<4>" DRIVE = 16;
NET "cAP<5>" DRIVE = 16;
NET "cAP<6>" DRIVE = 16;
NET "cAP<7>" DRIVE = 16;
NET "cAP<8>" DRIVE = 16;
NET "cAP<9>" DRIVE = 16;
NET "cAP<10>" DRIVE = 16;
NET "cAP<11>" DRIVE = 16;
NET "cAP<12>" DRIVE = 16;
NET "cAP<13>" DRIVE = 16;
NET "cAP<14>" DRIVE = 16;
NET "cAP<15>" DRIVE = 16;
NET "cDP<0>" DRIVE = 16;
NET "cDP<1>" DRIVE = 16;
NET "cDP<2>" DRIVE = 16;
NET "cDP<3>" DRIVE = 16;
NET "cDP<4>" DRIVE = 16;
NET "cDP<5>" DRIVE = 16;
NET "cDP<6>" DRIVE = 16;
NET "cDP<7>" DRIVE = 16;
NET "cDP<8>" DRIVE = 16;
NET "cDP<9>" DRIVE = 16;
NET "cDP<10>" DRIVE = 16;
NET "cDP<11>" DRIVE = 16;
NET "cDP<12>" DRIVE = 16;
NET "cDP<13>" DRIVE = 16;
NET "cDP<14>" DRIVE = 16;
NET "cDP<15>" DRIVE = 16;
NET "TFD0"	DRIVE = 16;
NET "TFD1"	DRIVE = 16;
NET "TFD2"	DRIVE = 16;
NET "TFD3"	DRIVE = 16;
NET "TFSENSE"	DRIVE = 16;
NET "TFCLK"	DRIVE = 16;
NET "TFCMD"	DRIVE = 16;

NET "OE245" SLEW = FAST;
NET "DR245" SLEW = FAST;
NET "ibDK" SLEW = FAST;
NET "ibRd" SLEW = FAST;
NET "ibRST" SLEW = FAST;
NET "iD<0>" SLEW = FAST;
NET "iD<1>" SLEW = FAST;
NET "iD<2>" SLEW = FAST;
NET "iD<3>" SLEW = FAST;
NET "iD<4>" SLEW = FAST;
NET "iD<5>" SLEW = FAST;
NET "iD<6>" SLEW = FAST;
NET "iD<7>" SLEW = FAST;
NET "iD<8>" SLEW = FAST;
NET "iD<9>" SLEW = FAST;
NET "iD<10>" SLEW = FAST;
NET "iD<11>" SLEW = FAST;
NET "iD<12>" SLEW = FAST;
NET "iD<13>" SLEW = FAST;
NET "iD<14>" SLEW = FAST;
NET "iD<15>" SLEW = FAST;
NET "JT_Result" SLEW = FAST;
NET "JT_Pin1" SLEW = FAST;
NET "JT_bTest" SLEW = FAST;
NET "ibCS1" SLEW = FAST;
NET "ibCS0" SLEW = FAST;
NET "iA<0>" SLEW = FAST;
NET "iA<1>" SLEW = FAST;
NET "iA<2>" SLEW = FAST;
NET "cDQ" SLEW = FAST;
NET "cAP<0>" SLEW = FAST;
NET "cAP<1>" SLEW = FAST;
NET "cAP<2>" SLEW = FAST;
NET "cAP<3>" SLEW = FAST;
NET "cAP<4>" SLEW = FAST;
NET "cAP<5>" SLEW = FAST;
NET "cAP<6>" SLEW = FAST;
NET "cAP<7>" SLEW = FAST;
NET "cAP<8>" SLEW = FAST;
NET "cAP<9>" SLEW = FAST;
NET "cAP<10>" SLEW = FAST;
NET "cAP<11>" SLEW = FAST;
NET "cAP<12>" SLEW = FAST;
NET "cAP<13>" SLEW = FAST;
NET "cAP<14>" SLEW = FAST;
NET "cAP<15>" SLEW = FAST;
NET "bcWait" SLEW = FAST;
NET "bcIRQ" SLEW = FAST;
NET "iD<0>" PULLUP;
NET "iD<1>" PULLUP;
NET "iD<2>" PULLUP;
NET "iD<3>" PULLUP;
NET "iD<4>" PULLUP;
NET "iD<5>" PULLUP;
NET "iD<6>" PULLUP;
NET "iD<7>" PULLDOWN;
NET "iD<8>" PULLUP;
NET "iD<9>" PULLUP;
NET "iD<10>" PULLUP;
NET "iD<11>" PULLUP;
NET "iD<12>" PULLUP;
NET "iD<13>" PULLUP;
NET "iD<14>" PULLUP;
NET "iD<15>" PULLUP;
#NET "OE245" PULLUP;
#NET "DR245" PULLUP;

NET "CLKin" TNM_NET = CLKin;

NET "iA<0>" IOSTANDARD = "LVTTL";
NET "iA<1>" IOSTANDARD = "LVTTL";
NET "iA<2>" IOSTANDARD = "LVTTL";
#NET "iDQ" PULLDOWN;
#NET "iIRQ" PULLUP;
#NET "ibDASP" PULLUP;
NET "iD<0>" DRIVE = 16;
NET "iD<1>" DRIVE = 16;
NET "iD<2>" DRIVE = 16;
NET "iD<3>" DRIVE = 16;
NET "iD<4>" DRIVE = 16;
NET "iD<5>" DRIVE = 16;
NET "iD<6>" DRIVE = 16;
NET "iD<7>" DRIVE = 16;
NET "iD<8>" DRIVE = 16;
NET "iD<9>" DRIVE = 16;
NET "iD<10>" DRIVE = 16;
NET "iD<11>" DRIVE = 16;
NET "iD<12>" DRIVE = 16;
NET "iD<13>" DRIVE = 16;
NET "iD<14>" DRIVE = 16;
NET "iD<15>" DRIVE = 16;

#INST "dna1/inst_RAM" LOC=RAMB16_X0Y0;
TIMESPEC TSCLKin = PERIOD "CLKin" 27.8 ns HIGH 50%;
